<%= form_with(model: article, remote: true, html: {name: 'edit-article-form', multipart: true}) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="actions">
    <%= form.submit(data: { disable_with: false }, class: 'btn btn-warning') %>
  </div>
<% end %>
