<!-- Article List -->
<div class="section">
</div>

<!-- New Modal -->
<div class="modal fade" id="newModal" role="dialog">
</div>

<!-- Show Modal -->
<div class="modal fade" id="showModal" role="dialog">
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" role="dialog">
</div>

<%= javascript_include_tag 'articles/articles-index' %>
